*{
    margin: 0;
    padding: 0%;
}
body{
    background-image: url("./images/notes.jpg");
    background-size: 100% 740px;
}
.contain{
    width: 300px;
    height: 400px;
    background-color:  #b76954;
    margin-left: 36%;
    text-align: center;
    color: black;
}
.contain .text{
    position: relative;
    top: 7%;
}
inp1{
    border: none;
    background-color: beige;
    border-bottom: 3px solid whitesmoke;
    width: 250px;
    font-size: 22px;
    margin-top: 40px;
    outline: none;
    color:beige;
}
.text button {
    width: 250px;
    height: 44px;
    background-color: antiquewhite;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 30px;
}
button:hover{
    border: 3px solid black;
    color: antiquewhite;
    font-size: 20px;
    background-color: black;
}
p{
    margin-top: 15px;
    font-size: 20px;
}
p span{
    color: blanchedalmond;

}


